@font-face {
  font-family: "Open-Sans-Light";
  src: url("../assets/fonts/OpenSans-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Open-Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Open-Sans-SemiBold";
  src: url("../assets/fonts/OpenSans-SemiBold.ttf") format("ttf");
}

* {
  box-sizing: border-box;
}

body {
  --main-blue-color: #38babe;
  --main-green-color: #7db34d;
  --main-red-color: #d22d6c;
  --main-dark-color: #000;
  --main-color-grey: #eee;
  --main-orange-color: #f09a40;
  --banner-overlay-color: rgba(66, 66, 66, .5);
  --main-font-color: #707070;
  --subtitle-color: #424242;
  --border-grey: #ccc;

  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
